{% extends "articles/base.html" %}
{% block content %}
{% load static %}
<!--outter-wp-->
<div class="outter-wp">
    <!--sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="index.html">Home</a></li>
            <li class="active">Buttons</li>
        </ol>
    </div>
    <!--//sub-heard-part-->
    <div class="graph-visual">
        <h2 class="inner-tittle">Flat Buttons</h2>
        <div class="graph">
            <div class="buttons-ui">
                <a class="btn blue">Blue Button</a>
                <a class="btn green">Green Button</a>
                <a class="btn red">Red Button</a>
                <a class="btn purple">Purple Button</a>
                <a class="btn orange">Orange Button</a>
                <a class="btn yellow">Yellow Button</a>
            </div>

        </div>
        <!--/buttons-inner-->
        <div class="button-inner-grids">
            <div class="col-md-6 inner-grid-button">
                <h3 class="inner-tittle two"> Social icons buttons </h3>
                <div class="grid-1">
                    <button class="facebook"><i class="fa fa-twitter"></i></button>
                    <button class="twitter"><i class="fa fa-dribbble"></i></button>
                    <button class="in"><i class="fa fa-linkedin"></i></button>
                    <button class="vimeo"><i class="fa fa-skype"></i></button>
                    <p class="four">
                        <a class="a_demo_four" href="#">
                            Click me icon for example !
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 graph-2 second">
                <h3 class="inner-tittle two">Click to Active buttons </h3>
                <div class="grid-1">

                    <section>
                        <div id="buttons">
                            <p>
                                <a class="a_demo_three" href="#">
                                    Click me!
                                </a>
                            </p>
                            <p>
                                <a href="#" class="a_demo_three second_button">
                                    Come on, don't be afraid
                                </a>
                            </p>
                            <p>
                                <a href="#" class="a_demo_three third_button">
                                    You can make this as wide as you want ;)
                                </a>
                            </p>
                        </div>
                    </section>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="button-inner-grids">
            <div class="col-md-6 inner-grid-button">
                <h3 class="inner-tittle two">Toggle Buttons </h3>
                <div class="grid-1">
                    <div class="inner-toggle">
																		<span class="toggle">
																					<input type="checkbox">
																					<label data-off="&#10006;"
                                                                                           data-on="&#10004;"></label>
																				</span>

                        <span class="toggle">
																					<input type="checkbox">
																					<label data-off="&#9724;"
                                                                                           data-on="&#9654;"></label>
																				</span>
                        <span class="toggle">
																					<input type="checkbox">
																					<label data-off="Stop"
                                                                                           data-on="Play"></label>
																				</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 graph-2 second">
                <h3 class="inner-tittle two">Button Switch </h3>
                <div class="grid-1">
                    <div class="switch-main">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
                                   checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="button-inner-grids">
            <div class="col-md-6 inner-grid-button">
                <h3 class="inner-tittle two">Social Media Sharing Buttons</h3>
                <div class="grid-1">
                    <div class="inner-share">
                        <div class="share share_size_large share_type_twitter">
                            <span class="share__count">868</span>
                            <a class="share__btn" href="#">Tweet</a>
                        </div>
                        <div class="share share_size_large share_type_facebook">
                            <span class="share__count">1.3K</span>
                            <a class="share__btn" href="#">Like</a>
                        </div>
                        <div class="share share_size_large share_type_gplus">
                            <span class="share__count">28</span>
                            <a class="share__btn" href="#">+1</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 graph-2 second">
                <h3 class="inner-tittle two">Button styles </h3>
                <div class="grid-1">
                    <div class="cont-btn">
                        <a class="btn blue one">Blue Button</a>
                        <a class="btn green two">Green Button</a>
                        <a class="btn red three">Red Button</a>
                        <a class="btn purple purp">Purple Button</a>
                    </div>
                    <div class="cont-btn">
                        <a class="btn blue four">Blue Button</a>
                        <a class="btn green fifth">Green Button</a>
                        <a class="btn red six">Red Button</a>
                        <a class="btn green two2">Purple Button</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--//buttons-inner-->

    </div>
    <!--//graph-visual-->
</div>
<!--//outer-wp-->
{% endblock %}