{% extends "articles/base.html" %}
{% block content %}
{% load static %}
								<!--//outer-wp-->
								<div class="outter-wp">
								<!--sub-heard-part-->
								   <div class="sub-heard-part">
								   <ol class="breadcrumb m-b-0">
										<li><a href="index.html">Home</a></li>
										<li class="active">Ribbons</li>
									</ol>
								   </div>
								  <!--//sub-heard-part-->
										<div class="graph-visual">
											<h2 class="inner-tittle">Ribbon Examples </h2>
											 <!--/ribbon-one-->
											<div class="ribbon-one graph">
											  <!--/ribbon-inner-->
													<div class="ribbon-inner">
														<div class="ribbon left_ribbon">
															<h3>Ribbon on the left</h3>
														</div>
															<div class="ribbon both_ribbon">
																<h3>Ribbon side to side</h3>
															</div>
													</div>
												 <!--/ribbon-inner-->
											</div>
											 <!--//ribbon-one-->
											 <!--/ribbon-two-->
											 <h3 class="inner-tittle two">Ribbon-2 </h3>
											<div class="ribbon-one graph">
											  <!--/ribbon-inner-->
													<div class="ribbon-inner one">
														<div class="ribbon1">
															<div class="ribbon-fold"><h4>Ribbon Header</h4></div>
														</div>

													</div>
												 <!--/ribbon-inner-->
											</div>
											 <!--//ribbon-two-->
											  <!--/ribbon-three-->
											  <h3 class="inner-tittle two">Ribbon-3 </h3>
											<div class="ribbon-one graph">
											  <!--/ribbon-inner-->
													<div class="ribbon-inner">
														<div class="ribbon2">
															<span>Blue</span>
															<span>Easy</span>
															<span>Ribbon</span>
														</div>

													</div>
												 <!--/ribbon-inner-->
											</div>
											 <!--//ribbon-three-->
											 <h3 class="inner-tittle two">Ribbon-4 </h3>
											 <!--/ribbon-four-->
											<div class="ribbon-one graph">
											  <!--/ribbon-inner-->
													<div class="ribbon-inner">
														<div class="ribbon3">
															<span>Blue</span>
															<span>Easy</span>
															<span>Ribbon</span>
														</div>

													</div>
												 <!--/ribbon-inner-->
											</div>
											 <!--//ribbon-four-->
											  <!--/ribbon-five-->
											  <h3 class="inner-tittle two">Ribbon-5 </h3>
											<div class="ribbon-one graph">
											  <!--/ribbon-inner-->
													<div class="ribbon-inner">
														<div class="shapes">
															<div class="diamond">Diamond</div>
														</div>

													</div>
												 <!--/ribbon-inner-->
											</div>
											 <!--//ribbon-five-->
											  <!--/ribbon-six-->
											  <h3 class="inner-tittle two">Ribbon-6 </h3>
											<div class="ribbon-one graph">
											  <!--/ribbon-inner-->
													<div class="ribbon-inner">
														<div class="shapes">
															<div class="ribbons" id="ribbon-7">Ribbon-6</div>
														</div>

													</div>
												 <!--/ribbon-inner-->
											</div>
											 <!--//ribbon-six-->

									   </div>

									</div>
									<!--//outer-wp-->
{% endblock %}